Repository official-antistasi-community/A3-Antistasi, pull requests merged in 2024-12, with the labels that each got.

#3392 Add UI and supporting code to set custom loadouts for rebel troops
  A3A/addons/core/CfgFunctions.hpp
  A3A/addons/core/dialogs.hpp
  A3A/addons/core/functions/Ammunition/fn_addPrimaryAndMags.sqf
  A3A/addons/core/functions/Ammunition/fn_fetchRebelGear.sqf
  A3A/addons/core/functions/Ammunition/fn_generateRebelGear.sqf
  A3A/addons/core/functions/Ammunition/fn_randomRifle.sqf
  A3A/addons/core/functions/Ammunition/fn_setRebelLoadouts.sqf
  A3A/addons/core/functions/Base/fn_initPetros.sqf
  A3A/addons/core/functions/REINF/fn_equipRebel.sqf
  A3A/addons/core/functions/Save/fn_deleteSave.sqf
  A3A/addons/core/functions/Save/fn_loadServer.sqf
  A3A/addons/core/functions/Save/fn_loadStat.sqf
  A3A/addons/core/functions/Save/fn_saveLoop.sqf
  A3A/addons/core/functions/init/fn_initVarServer.sqf
  A3A/addons/gui/CfgFunctions.hpp
  A3A/addons/gui/Stringtable.xml
  A3A/addons/gui/dialogues/customLoadoutsDialog.hpp
  A3A/addons/gui/dialogues/dialogs.hpp
  A3A/addons/gui/dialogues/ids.inc
  A3A/addons/gui/functions/GUI/fn_customLoadoutsDialog.sqf
Labels: Enhancement, Ready for merge

#3422 3CBF weapon integration into RHS factions
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_AFRF_Arid.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_AFRF_Temperate.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_CDF.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_ChDKZ.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_HIDF.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_TLA.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_USAF_Army_Arctic.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_USAF_Army_Arid.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_USAF_Army_Temperate.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_USAF_Marines_Arid.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_USAF_Marines_Temperate.sqf
Labels: Ready for merge, Templates

#3437 Ifa update
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_ALLIES.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_SOV.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_UK.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_US.sqf
  A3A/addons/core/Templates/Templates/IFA/IFA_AI_WEH.sqf
Labels: Bug, Change, Ready for merge, Templates

#3443 Ef detect as additional DLC
  A3A/addons/core/functions/init/fn_initVarServer.sqf
  A3A/addons/core/functions/init/fn_setupMonitor.sqf
Labels: Ready for merge, Templates

#3446 Fixed wrong owner check in fn_addBombRun.sqf
  A3A/addons/core/functions/REINF/fn_addBombRun.sqf
Labels: Bug, Ready for merge

#3448 Isla duala enemy location cull
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/initServer.sqf
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/mission.sqm
Labels: Ready for merge, Map port

#3451 CUP template fixes in BAF, ION
  A3A/addons/core/Templates/Templates/CUP/CUP_AI_BAF_Temperate.sqf
  A3A/addons/core/Templates/Templates/CUP/CUP_AI_ION_Arctic.sqf
Labels: Bug, Ready for merge, Templates

#3452 3CB Ranger update, artillery fix
  A3A/addons/core/Templates/Templates/3CB/3CB_AI_LDF.sqf
Labels: Bug, Change, Ready for merge, Templates

#3455 Bugfix and optimizations to spawner selection
  A3A/addons/core/functions/Base/fn_distance.sqf
Labels: Bug, Performance, Ready for merge

#3457 RHS HIDF, TLA, NVG fix
  A3A/addons/core/Templates/Templates/RHS/RHS_AI_HIDF.sqf
Labels: Bug, Ready for merge, Templates

#3458 Rebel loadout fixes
  A3A/addons/core/dialogs.hpp
  A3A/addons/core/functions/REINF/fn_equipRebel.sqf
  A3A/addons/gui/functions/GUI/fn_customLoadoutsDialog.sqf
Labels: Bug, Ready for merge

#3459 Additional TFAR Bags
  A3A/addons/config_fixes/TFAR/Aegis/CfgVehicles.hpp
  A3A/addons/config_fixes/TFAR/Aegis/config.cpp
  A3A/addons/config_fixes/TFAR/CUP/CfgVehicles.hpp
  A3A/addons/config_fixes/TFAR/CUP/config.cpp
  A3A/addons/config_fixes/TFAR/CWR3/CfgVehicles.hpp
  A3A/addons/config_fixes/TFAR/CWR3/config.cpp
  A3A/addons/config_fixes/TFAR/CfgVehicles.hpp
  A3A/addons/config_fixes/TFAR/RHS/CfgVehicles.hpp
  A3A/addons/config_fixes/TFAR/RHS/config.cpp
  A3A/addons/config_fixes/TFAR/SPE/CfgVehicles.hpp
  A3A/addons/config_fixes/TFAR/SPE/config.cpp
  A3A/addons/config_fixes/TFAR/TFAR_beta.hpp
  A3A/addons/config_fixes/TFAR/config.cpp
  A3A/addons/core/Templates/Templates/3CB/3CB_Reb_CNM.sqf
  A3A/addons/core/Templates/Templates/3CB/3CB_Reb_FIA.sqf
  A3A/addons/core/Templates/Templates/3CB/3CB_Reb_ION.sqf
  A3A/addons/core/Templates/Templates/3CB/3CB_Reb_LSM.sqf
  A3A/addons/core/Templates/Templates/3CB/3CB_Reb_TKM.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Reb_FIA.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Reb_SDK.sqf
  A3A/addons/core/Templates/Templates/CUP/CUP_Reb_NAPA.sqf
  A3A/addons/core/Templates/Templates/CUP/CUP_Reb_TKM.sqf
  A3A/addons/core/Templates/Templates/CWR/CWR_Reb_FIA.sqf
  A3A/addons/core/Templates/Templates/GM/GM_Reb.sqf
  A3A/addons/core/Templates/Templates/RHS/RHS_Reb_NAPA.sqf
  A3A/addons/core/Templates/Templates/SPE/SPE_REB_FFF.sqf
  A3A/addons/core/Templates/Templates/SPEX/SPEX_REB_FFF.sqf
  A3A/addons/core/Templates/Templates/SPE_IFA/SPE_IFA_REB_FFF.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_FIA.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_LFF.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_Reb_SDK.sqf
  A3A/addons/core/Templates/Templates/WS/WS_Reb_TURA.sqf
Labels: Change, Suggestion, Ready for merge, Templates

#3460 CWR3 NVG fix
  A3A/addons/core/Templates/Templates/CWR/CWR_AI_USSR_Temperate.sqf
  A3A/addons/core/Templates/Templates/CWR/CWR_AI_US_Army_Temperate.sqf
Labels: Bug, Ready for merge, Templates

#3462 Modify loot-to-crate to dump all leftovers to a single weapon holder
  A3A/addons/core/functions/LTC/fn_lootToCrate.sqf
Labels: Change, Ready for merge

#3463 Isla duala playtest adjustment
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/initPlayerLocal.sqf
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/initServer.sqf
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/mapInfo.hpp
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/mission.sqm
Labels: Ready for merge, Map port

#3473 Rebel airstrike fixes
  A3A/addons/core/functions/REINF/fn_NATObomb.sqf
  A3A/addons/core/functions/REINF/fn_addBombRun.sqf
Labels: Priority, Bug, Ready for merge

#3456 3.8.0 changelog and version
  A3A/addons/core/Includes/script_version.hpp
  README.md
  changelog.rst
Labels: Ready for merge
