Repository official-antistasi-community/A3-Antistasi, pull requests merged in 2024-11, with the labels that each got.

#3423 Helicopter Config Loadouts
  A3A/addons/config_fixes/RF/CfgVehicles.hpp
  A3A/addons/core/Templates/AircraftLoadouts/RF/config.cpp
  A3A/addons/core/functions/AI/fn_attackHeli.sqf
  A3A/addons/core/functions/Base/fn_setPlaneLoadout.sqf
Labels: Change, Enhancement, Ready for merge

#3414 Aegis factions Compatability
  A3A/addons/config_fixes/Aegis/CfgVehicles.hpp
  A3A/addons/config_fixes/Aegis/CfgWeapons.hpp
  A3A/addons/config_fixes/Aegis/config.cpp
  A3A/addons/config_fixes/Aegis/ifv.hpp
  A3A/addons/core/Templates/AircraftLoadouts/Aegis/config.cpp
  A3A/addons/core/Templates/Templates.hpp
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_AAF.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_BAF_Arid.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_BAF_Temperate.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_BAF_Tropical.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_China.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_Iran.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_LDF.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_Russia.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_US_Arid.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_US_Temperate.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_AI_US_Tropical.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Civ.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Reb_FIA.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Reb_SDK.sqf
  A3A/addons/core/Templates/Templates/Aegis/Aegis_Vehicle_Attributes.sqf
Labels: Ready for merge, Templates

#3416 WS Kamaz Texture Fix
  A3A/addons/config_fixes/WS/CfgVehicles.hpp
  A3A/addons/config_fixes/WS/ws_ion.hpp
Labels: Ready for merge

#3428 SPEX Templates
  A3A/addons/core/Templates/Templates.hpp
  A3A/addons/core/Templates/Templates/SPEX/SPEX_AI_US.sqf
  A3A/addons/core/Templates/Templates/SPEX/SPEX_AI_WEH.sqf
  A3A/addons/core/Templates/Templates/SPEX/SPEX_CIV.sqf
  A3A/addons/core/Templates/Templates/SPEX/SPEX_REB_FFF.sqf
  A3A/addons/core/Templates/Templates/SPEX/SPE_Reb_Vehicle_Attributes.sqf
  A3A/addons/core/Templates/Templates/SPEX/SPE_Vehicle_Attributes.sqf
  A3A/addons/core/Templates/Templates/SPEX/flag_fr.paa
  A3A/addons/core/Templates/Templates/SPEX/flag_ger.paa
  A3A/addons/core/Templates/Templates/SPEX/flag_us.paa
  A3A/addons/core/Templates/Templates/SPEX/spe_logo.paa
  A3A/addons/gui/functions/SetupGUI/fn_setupFactionsTab.sqf
Labels: Ready for merge, Templates

#3436 Fix debug line in fn_setPlaneLoadout.sqf
  A3A/addons/core/functions/Base/fn_setPlaneLoadout.sqf
Labels: Bug, Ready for merge

#3424 Isla Duala hide "bad" object update
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/initServer.sqf
  A3A/addons/maps/Antistasi_isladuala3.isladuala3/mission.sqm
  A3A/addons/maps/config.cpp
Labels: Ready for merge, Map port

#3430 Carpet bombing turned into triple airstrike
  A3A/addons/core/functions/Supports/fn_SUP_airstrikeRoutine.sqf
  A3A/addons/core/functions/Supports/fn_SUP_carpetBombs.sqf
  A3A/addons/core/functions/Supports/fn_initSupports.sqf
Labels: Enhancement, Ready for merge

#3429 Cwr3 post-test adjustments
  A3A/addons/core/Templates/Templates/CWR/CWR_AI_US_Army_Temperate.sqf
  A3A/addons/core/Templates/Templates/CWR/CWR_Reb_FIA.sqf
Labels: Ready for merge, Templates

#3441 Expeditionary Forces MJTF factions
  A3A/addons/config_fixes/RF/CfgVehicles.hpp
  A3A/addons/core/Templates/AircraftLoadouts/EF/config.cpp
  A3A/addons/core/Templates/AircraftLoadouts/RF/config.cpp
  A3A/addons/core/Templates/Templates.hpp
  A3A/addons/core/Templates/Templates/EF/EF_AI_MJTF_Arid.sqf
  A3A/addons/core/Templates/Templates/EF/EF_AI_MJTF_Temperate.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_NATO_Desert.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_SFIA.sqf
Labels: Ready for merge, Templates

#3442 Expeditionary Forces Vanilla and Western Sahara compatibility
  A3A/addons/core/Templates/AircraftLoadouts/Vanilla/config.cpp
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_AAF.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Apex.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Enoch.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_CSAT_Temperate.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_LDF.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Apex.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Temperate.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_Tropical.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_UK_Arid.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_NATO_UK_Tropical.sqf
  A3A/addons/core/Templates/Templates/Vanilla/Vanilla_AI_PMC.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_ADF.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_CSAT_NAfrica.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_ION.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_NATO_Desert.sqf
  A3A/addons/core/Templates/Templates/WS/WS_AI_SFIA.sqf
Labels: Ready for merge, Templates
